/* Spacing between the header and input */
h2 {
    margin-bottom: 10px;
}

/* Space between input/button and the list */


/* Remove padding + margin from the list */
.todo-list {
    padding: 0;
    margin: 0;
}

/* List item styling */
.todo-list li {
    list-style: none;
    font-size: 20px;
    padding: 14px 40px 14px 10px;
}

/* Odd items */
.todo-list li:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Even items */
.todo-list li:nth-child(even) {
    background-color: #eee;
}
